PATH_add bin
PATH_add $HOME/.cargo/bin

export PGPASSFILE=$(pwd)/.pgpass

(
# Install nvm
nvm-exec

# Load it
. bin/.nvm/nvm.sh

# Make sure it is installed
# Disabled for now, annoying output and confuses the agent
#nvm install
)
