{% extends "layouts/main.html" %}

{% block head %}
  <style>
    #repeater-map-host {
      height: 800px;
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <section>
    <h2>Repeater map</h2>
    <div id="repeater-map-host"></div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/repeater-atlas.js"></script>
  <script src="/static/vendor/leaflet/leaflet.js"></script>
  <script src="/static/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script>
    const data = {{ repeater_data | json | safe }};
  </script>
  <script>
    initializeRepeaterAtlas();

    const map = buildLeafletMap(document.getElementById("repeater-map-host"));

    if (data.length === 0) {
      map.setView([64.4, 11.7], 4);
    } else {
      const clusterGroup = L.markerClusterGroup({
        showCoverageOnHover: false,
        maxClusterRadius: 10,
      });
      const bounds = [];
      data.forEach((item) => {
        const marker = L.marker([item.latitude, item.longitude]);
        marker.bindPopup(item.call_sign);
        bounds.push([item.latitude, item.longitude]);
        clusterGroup.addLayer(marker);
      });
      clusterGroup.addTo(map);
      map.fitBounds(bounds, {padding: [20, 20]});
    }

    map.invalidateSize();
</script>
{% endblock %}
