{% extends "layouts/main.html" %}

{% block content %}
<main class="container">
  <hgroup>
    <h1>Repeater Atlas</h1>
    <p>Browse repeater listings.</p>
  </hgroup>
  <section>
    <h2>Repeaters</h2>
    {% if repeaters.len() == 0 %}
      <p>No repeaters yet.</p>
    {% else %}
      {% for item in repeaters %}
        <article>
          <header>
            <h3>
              <a href="/{{ item.call_sign }}">{{ item.call_sign }}</a>
            </h3>
          </header>
          <dl>
            <div>
              <dt>Status</dt>
              <dd>{{ item.status }}</dd>
            </div>
            <div>
              <dt>Description</dt>
              <dd>{% if item.description.is_some() %}{{ item.description.as_ref().unwrap() }}{% else %}-{% endif %}</dd>
            </div>
            <div>
              <dt>Maidenhead locator</dt>
              <dd>{% if item.maidenhead.is_some() %}{{ item.maidenhead.as_ref().unwrap() }}{% else %}-{% endif %}</dd>
            </div>
            <div>
              <dt>Lat/Long</dt>
              <dd>
                {% if let Some(point) = item.point %}
                  {{ point.latitude }}, {{ point.longitude }}
                {% else %}
                  -
                {% endif %}
              </dd>
            </div>
          </dl>
        </article>
      {% endfor %}
    {% endif %}
  </section>
</main>
{% endblock %}
