{% extends "layouts/main.html" %}

{% block title %}Repeater {{ repeater.call_sign }}{% endblock %}

{% block content %}
  <hgroup>
    <h1>{{ repeater.call_sign }}</h1>
    {% if repeater.name.is_some() %}
      <p>{{ repeater.name.as_ref().unwrap() }}</p>
    {% endif %}
  </hgroup>
  <section>
    <h2>Details</h2>
    <dl>
      <div>
        <dt>Status</dt>
        <dd>{{ status }}</dd>
      </div>
      <div>
        <dt>Description</dt>
        <dd>{{ description }}</dd>
      </div>
      <div>
        <dt>Maidenhead locator</dt>
        <dd>{{ maidenhead }}</dd>
      </div>
      <div>
        <dt>Lat/Long</dt>
        <dd>{{ location }}</dd>
      </div>
    </dl>
  </section>
  <section>
    <h2>Ports</h2>
    {% if ports.len() == 0 %}
      <p>No ports defined.</p>
    {% else %}
      <figure>
        <table>
          <thead>
            <tr>
              <th scope="col">Port</th>
              <th scope="col">TX</th>
              <th scope="col">RX</th>
            </tr>
          </thead>
          <tbody>
            {% for port in ports %}
              <tr>
                <td>{{ port.label }}</td>
                <td>{{ port.tx_hz }}</td>
                <td>{{ port.rx_hz }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    {% endif %}
  </section>
  <p><a href="/">Back to list</a></p>
{% endblock %}
