<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Repeater Atlas{% endblock %}</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/vendor/pico.css">
    <link rel="stylesheet" href="/static/repeater-atlas.css">
    <script src="/static/vendor/htmx.min.js" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %}>
    {% block header %}
    <header class="container">
      <nav>
        <ul>
          <li><strong>Repeater Atlas</strong></li>
        </ul>
        <ul>
          <li>
            <a href="/">Map</a>
          </li>
          <li>
            <a href="/-/organization">Organizations</a>
          </li>
          <li>
            <a href="/-/repeater">Repeaters</a>
          </li>
          {% if auth.logged_in %}
            <li><a href="/-/my">{{ auth.call_sign }}</a></li>
            <li><a href="/-/logout">Log out</a></li>
          {% else %}
            <li><a href="/-/login">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
    <script src="/static/vendor/leaflet/leaflet.js"></script>
    <script src="/static/repeater-atlas.js"></script>
    <script>
      initializeRepeaterAtlas();
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
